@font-face {
    font-family: 'sdc-installer';
    src:
        url('../fonts/sdc-installer.ttf?jwg11w') format('truetype'),
        url('../fonts/sdc-installer.woff?jwg11w') format('woff'),
        url('../fonts/sdc-installer.svg?jwg11w#sdc-installer') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'sdc-installer' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico-arrow-left:before {
    content: "\e900";
}
.ico-arrow-right:before {
    content: "\e901";
}
.ico-cross:before {
    content: "\e902";
}
.ico-checkbox:before {
    content: "\e903";
}
.ico-checked:before {
    content: "\e904";
}
